@model MvcMovie.Models.MovieGenreViewModel

@{
    ViewData["Title"] = "Index";
}
<style>
.btn{
    text-decoration:none;
    color:#fff;
    background-color:#493483;
    &:hover{
    background-color:#fff;
    color:#493483;
    border:2px solid #493483;
    }
    &.delete{
        background-color:red;
        &:hover{
            border-color:red;
        }
    }

}
</style>
<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn-primary px-4 py-2 rounded text-decoration-none shadow">Create New</a>
</p>
<form asp-controller="Movies" asp-action="Index" method="get">
    <p>
        <select asp-for="MovieGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        <label>Title: <input type="text" name="SearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].ReleaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movies![0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Movies!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="btn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn delete">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>